/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 10px;
}

.hover-link:hover {
  cursor: pointer;
}


/* form styling */

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px;
}

input {
  margin: 10px;
}

button {
		width: 120px;
		height: 30px;
		background: none;
		border: 2px solid #C4C4C4;
    color: black;
		border-radius: 5px;
		background-color: tranparent;
}

button:hover {
  cursor: pointer;
  border-color: #AAAAAA;
}

img:hover {
  cursor: pointer;
}