

.spot-card {
  line-height: 20px;
  text-decoration: none solid;
  color: black;
  position: relative;
  width: 315px;
  height: 395px;
  border-radius: 10px;
  box-shadow: 0px, 5px, 5px, #8b8c89;
  padding-bottom: 15px;
  text-decoration: none;
  color: black;
}

.spot-card:hover {
  box-shadow: ;
}

.prev-img {
    border-radius: 11px;
    width: 315px;
    height: 295px;
    object-fit: cover;
}




.spot-card-ratings {
  padding: 5px;
  font-size: 1.2em;
}

.spot-preview-info {
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.update-delete-card-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}