.hidden {
    display: none;
}

.nav-bar {
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  list-style: none;
  padding: 15px 40px;
  position:sticky;
  background-color: rgba(238, 242, 255, 1);
  color: #000;
  border-bottom: solid 2px #C5C3C6;
}

.profile

.profile-dropdown {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  list-style: none;
  padding-left: 10px;
  top: 80px;
  right: 15px;
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 200px
}

.profile-dropdown li {
  	float: left;
		list-style: none;
		padding: 22px 18px;
		border: 1px solid #DCE0E0;
		height: 61px;
		font-size: 14px;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-top: none;
}

#profile-icon {
    font-size: 4em;
    border-radius: 15px;
    padding: 5px;
    background-color:none;
}

#logo {
  position: relative;
  top: 5px;
  margin-left: -2px;
  height: 6em
}


