.form-content {
  padding: 30px;
  display: grid;
  grid-template-areas: 
    "h"
    "form"
    "b";
}

h1 {
  text-align: center;
  grid-area: h;
  margin-top: 10%
}


label {
  text-align: left;
}

#b {
  align-self: center;
  margin: 5%
}

form {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  font-size: 1.3em;
}

input {
  width: 100%;
  padding-right: 20%;
  margin-right: 20%;
}

#demo-login-link {
  text-align: center;
}

#demo-login-link:hover {
  text-shadow: #3371a17f .5px .5px 10px;
}

.disabled {
  background-color: #3371a17f;
}